html,
body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(112, 128, 144);
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.productCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: sans-serif;
}

.titleCard {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.priceCard {
  font-size: 1rem;
  color: #333;
}

.containerProduct {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
